 body{
     background-color: gray;
 }


.game{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.win{
  animation: win 2s ease-in-out  infinite alternate forwards;
}

@keyframes win {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
  110%{
    transform: scale(1);
  }
}










