 body{
     background-color: gray;
 }


.game{
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.cell{
    background-color: green;
}